html {
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin: 0;
  display: flex;
  height: 100dvh;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: #f6f6f7;
  background-color: black;
}

header {
  display: flex;
  min-height: 10dvh;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  height: 82dvh;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 4rem;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  aspect-ratio: 1 / 1;
  background-color: #1dffff;
  box-shadow: inset 0.3em 0.3em 0.4em rgba(0, 0, 0, 0.5);

  padding: 3rem;
}

.calculator,
.display,
.buttons,
button {
  border: #404540 solid 1px;
  border-radius: 0.5rem;
}

.display {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: "Micro 5", Arial, sans-serif;
  font-size: 10rem;
  overflow: hidden;
  height: 30%;
  width: 100%;
  background-color: #d2d5da;
  color: #40454f;
  border-bottom: 0.02em solid #333;
  border-right: 0.02em solid #333;
  box-shadow: inset 0.03em 0.03em 0.04em rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
  background-color: #0511ff;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: 0.2em solid #333;
  border-right: 0.2em solid #333;
  box-shadow: inset 0.3em 0.3em 0.4em rgba(0, 0, 0, 0.5);
}

.button-row {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  gap: 5px;
}

button {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  border-radius: 0.5rem;
  font-size: 2em;
  border-bottom: 0.02em solid #333;
  border-right: 0.02em solid #333;
  transition: box-shadow 0.1s ease;
}

button:active {
  box-shadow: inset 0.04em 0.04em 0.04em rgba(0, 0, 0, 0.7);
}

#button-0,
#button-1,
#button-2,
#button-3,
#button-4,
#button-5,
#button-6,
#button-7,
#button-8,
#button-9 {
  background-color: #e9f500;
}

#button-div,
#button-mul,
#button-sub,
#button-add,
#button-eq,
#button-dot {
  background-color: #d65b00;
}

#button-CE,
#button-backspace,
#button-A-sub,
#button-A-add {
  background-color: #df0000;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  height: 5dvh;
  font-size: 1rem;
  padding: 0.5rem;
}

footer a {
  color: inherit;
  overflow: hidden;
}

footer a:active {
  display: flex;
  align-items: flex-end;
  color: inherit;
}

footer a img:hover {
  transform: scale(2);
}

footer img {
  height: 1.5rem;
  width: 1.5rem;
}
